:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #fff;
  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

input, button {
  outline: none;
  border: none;
  padding: 8px;
  margin: 1px;
  background-color: #fff;
  box-shadow: 0 0 1px #0f0f0f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

button:hover {
  cursor: pointer;
}
